@import "~font-awesome/css/font-awesome.css";

body {
  background-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  overflow: hidden;
}
.launch-button {
  background-color: #adc708;
  border-radius: 10px;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  height: 30px;
  width: 160px;
}
.launch-button:active {
  background-color: rgba(173, 179, 8, 0.88);
}
.champions-container {
  height: 300px;
}
.champion {
  display: block;
  padding: 2px;
  width: auto;
  height: 20%;
  box-sizing: border-box;
}
.champion>img {
  display: inline-block;
  height: 100%;
  width: auto;
}
.spells-container {
  display: inline-block;
  width: 26px;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
}
.spells-container>img {
  display: inline-block;
  width: auto;
  height: 50%;
  padding: 0;
}
.timer-container {
  display: inline-block;
  width: auto;
  height: 100%;
}
