@import "~font-awesome/css/font-awesome.css";

body {
  background-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.champions-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.champion {
  display: flex;
  box-sizing: border-box;
}
.champion-image {
  flex: 0 0 60px;
}
.champion-image > img {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px
}
.spells-container {
  flex: 0 0 30px;
  height: 100%;
  /*margin-left: 2px;*/
}
.spells-container > img {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  /*padding: 2px;*/
  border: 1px solid black;
}
.timer-container {
  display: block;
}
.timer {
  width: 110px;
  display: block;
  height: 30px;
  line-height: 30px;
  border-radius: 7px;
  border: 1px solid black;
  box-sizing: border-box;
}
.timer2 {
  position: relative;
}
.inline-wrapper {
  display: flex;
  padding-left: 10px;
  margin: 0px;
  height: 28px;
  width: 100px;
  justify-content: center;
}
.counts {
  flex: 1 0 28px;
  padding: 0;
  margin: 0px;
  line-height: 28px;
  height: auto;
  font-size: 24px;
  text-align: center;
}
.timer .less {
  flex: 0 0 20px;
  font-size: 36px;
  text-align: center;
  position: relative;
  top: -5px;
  cursor: pointer;
}
